

@model CPCUnsortedCash
@{
    ViewBag.Title = "Details";
    var unsortedCashdetails = Model.CPCUnsortedCashDetails;
    var denomList = ViewBag.DenominationList as List<CPCDenomination>;
}


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4> Unsorted Cash </h4>
                <div class="row tb-padding">
                    <table id="mytable" class="table table-striped table-bordered table-hover">
                        <thead>
                        </thead>
                        @{
                            var finalNumberOfPackets = 0;
                            var finalTotalValue = 0;
                        }
                        <tbody>
                            <tr>
                                <td><b>Date:</b></td>
                                <td>
                                    <div class="input-group input-group-sm">
                                        <input name="Date" id="Date" class="form-control input-sm datePicker" type="text" value="@Model.Date.ToString(Constants.DATE_FORMAT_CLIENT_SIDE)" required autocomplete="off">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                </td>
                                <td><b>Consignment Number</b></td>
                                <td>
                                    <label>@Model.SerialNumber</label>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Station/City:</b></td>
                                <td>
                                    <label>@Model.CPCCity.CityName</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Client/Branch:</b></td>
                                <td>
                                    <label>@ViewData["BranchName"]</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr><td></td><td></td><td></td></tr>
                            <tr>
                                <td><b>Denomination</b></td>
                                <td><b>Volume in Bundles</b></td>
                                <td><b>Amount</b></td>
                                <td><b>Seal No</b></td>
                            </tr>
                            @*<tr>
                                <td>
                                    Rs.1/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rs.2/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 2).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rs.5/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>*@
                            <tr>
                                <td>
                                    Rs.10/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 10).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rs.20/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 20).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rs.50/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 50).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rs.100/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 100).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rs.500/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 500).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rs.1000/-
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 1000).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td>Rs.5000/-</td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault().NumberOfBundles : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault() != null)
                                        {
                                            finalNumberOfPackets += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault().NumberOfBundles);
                                        }
                                        else { finalNumberOfPackets += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault().TotalValue : 0)
                                    @{ if (unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault() != null)
                                        {
                                            finalTotalValue += Convert.ToInt32(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault().TotalValue);
                                        }
                                        else { finalTotalValue += 0; }
                                    }
                                </td>
                                <td>
                                    @(unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault() != null ? unsortedCashdetails.Where(x => x.CPCDenomination.DenominationTitle == 5000).FirstOrDefault().SealNo : "0")
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td><b>Total</b></td>
                                <td>@finalNumberOfPackets</td>
                                <td>@finalTotalValue</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
