@model List<CPCVaultCustodian>

<style>
    .menu-links a:hover {
        text-decoration: none;
    }
</style>

<div class="form-Modal">
    <div class="modal-content bg-transparent">
        <div class="modal-header">
            <h3 class="modal-title">
                Vault Custodian Management
                <span class="pull-right menu-links">
                    <a href="javascript://" class="text-muted" title="go to previous" style="margin:0 8px;" onclick="window.history.back()">
                        <i class="fa fa-angle-left"></i> <span class="grid-buttons"> Go Back</span>
                    </a>
                    @*<a href="javascript://" class="text-danger forceRedirect" title="delete record" style="margin:0 8px;" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiple")', '.checkIt')">
                        <i class="fa fa-trash"></i>  
                    </a>*@
                    <a href="@Url.Action("Record","VaultCustodian")" style="margin:0 8px;" title="add new">
                        <i class="fa fa-plus-circle text-primary"></i> <span class="grid-buttons"> Add New Vauld Custodian</span>
                    </a>
                </span>
            </h3>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table id="VaultCustodian-dataTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th><input type="checkbox" onchange="checkAll(this, 'checkIt');" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Order No" id="VaultCustodian-dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Consignment No." id="VaultCustodian-dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Date" id="VaultCustodian-dataTable_1" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Client" id="VaultCustodian-dataTable_3" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Status" id="VaultCustodian-dataTable_4" /></th>
                            <th class="text-center" width="100px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                        <tr>
                            <td>
                                @if (CurrentUser.HasAnyPermission(BaseApp.Entity.AppPermission.All, BaseApp.Entity.AppPermission.CPC))
                                {
                                    <input type="checkbox" class="checkIt" value="@x.Id" />
                                }
                            </td>
                            <td>@x.OrderNumber</td>
                            <td><a href="@Url.Action("Details","VaultCustodian",new { Id = x.Id })">@x.SerialNumber</a></td>
                            <td>@x.Date</td>
                            <td> @($"{x.CPCProjectBranch.BranchCode} - {x.CPCProjectBranch.BranchName}")</td>
                            @if (x.Status == 1)
                            {
                                <td> <label class="label label-info">@AnnexureStatus.Inprocess</label></td>
                            }
                            else
                            {
                                <td> <label class="label label-success">@AnnexureStatus.Completed</label></td>
                            }
                            <td class="text-center">
                                <div class="btn-group btn-group-xs" role="group">
                                    @*<a href="@Url.Action("Details","VaultCustodian")/@x.Id/1" class="btn btn-primary" title="Details">*@
                                    <a href="@Url.Action("Details","VaultCustodian",new { Id = x.Id })" class="btn btn-primary" title="Details"><i class="fa fa-eye"></i></a>
                                    @if (CurrentUser.HasAnyPermission(BaseApp.Entity.AppPermission.All, BaseApp.Entity.AppPermission.CPC))
                                    {
                                        @*<a href="@Url.Action("Record","VaultCustodian")/@x.Id" class="btn btn-info" title="Edit"><i class="fa fa-edit"></i></a>*@
                                        <a href="javascript://" onclick="deleteRecord('@Url.Action("Delete")', '@x.Id')" class="btn btn-danger" title="Delete"><i class="fa fa-trash"></i></a>
                                    }
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="pull-right menu-links">
                <a href="javascript://" class="text-muted" title="go to previous" style="margin:0 8px;" onclick="window.history.back()">
                    <i class="fa fa-angle-left fa-2x"></i> <span class="grid-buttons"> Go Back</span>
                </a>
                @*<a href="javascript://" class="text-danger forceRedirect" title="delete record" style="margin:0 8px;" onclick="deleteMultipleRecords('@Url.Action("DeleteMultiple")', '.checkIt')">
                    <i class="fa fa-trash fa-2x"></i>
                </a>*@
                <a href="@Url.Action("Record","VaultCustodian")" style="margin:0 8px;" title="add new">
                    <i class="fa fa-plus-circle fa-2x text-primary"></i> <span class="grid-buttons"> Add New Vault Custodian</span>
                </a>
            </div>
        </div>
    </div>
</div>

