@model List<CPCOrderBooking>
@{
    var detailsList = ViewBag.DetailsList as List<Vew_Orderbookings>;
}

<style>
    .menu-links a:hover {
        text-decoration: none;
    }

    .btn-group a {
        margin-bottom: 5px;
    }
</style>
<div class="form-Modal">
    <div class="modal-content bg-transparent">
        <div class="modal-header">
            <h3 class="modal-title">
                Order Requests - Control Room
                <span class="pull-right menu-links">
                    <a href="javascript://" class="text-muted" title="go to previous" style="margin:0 8px;" onclick="window.history.back()">
                        <i class="fa fa-angle-left"></i> <span class="grid-buttons"> Go Back</span>
                    </a>
                </span>
            </h3>
        </div>

        <div class="modal-body">
            <div class="table-responsive">
                <table id="Orderbooking-dataTable" class="table table-hover table-striped table-condensed">
                    <thead>
                        <tr>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Order No" id="Orderbooking-dataTable_0" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Date" id="Orderbooking-dataTable_1" /></th>

                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Collection" id="Orderbooking-dataTable_2" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Delivery" id="Orderbooking-dataTable_3" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Billed" id="Orderbooking-dataTable_4" /></th>

                            @*<th><input class="form-control input-sm input-tbl" type="text" placeholder="No Of Bundles" id="Orderbooking-dataTable_5" /></th>
                            <th><input class="form-control input-sm input-tbl" type="text" placeholder="Total Amount" id="Orderbooking-dataTable_6" /></th>*@
                            <th width="90px"><input class="form-control input-sm input-tbl" type="text" placeholder="Status" id="Orderbooking-dataTable_5" /></th>
                            <th class="text-center" width="150px">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var x in Model)
                        {
                        <tr>
                            <td>
                                @x.OrderNo
                            </td>
                            <td>
                                @x.Date.ToString(Constants.DATE_FORMAT_CLIENT_SIDE)
                            </td>
                            <td>@(detailsList.Where(ab => ab.Id == x.Id).ToList() != null ? detailsList.Where(ab => ab.Id == x.Id).FirstOrDefault().CollectionBranchName : "")</td>
                            <td>@(detailsList.Where(ab => ab.Id == x.Id).ToList() != null ? detailsList.Where(ab => ab.Id == x.Id).FirstOrDefault().DeliveryBranchName : "")</td>

                            <td>@(detailsList.Where(ab => ab.Id == x.Id).ToList() != null ? detailsList.Where(ab => ab.Id == x.Id).FirstOrDefault().BilledBranchName : "")</td>


                            @*<td>@(detailsList.Where(ab => ab.Id == x.Id).ToList() != null ? detailsList.Where(ab => ab.Id == x.Id).Sum(y => y.NoOfBundles) : 0)</td>
                            <td>@(detailsList.Where(ab => ab.Id == x.Id).ToList() != null ? detailsList.Where(ab => ab.Id == x.Id).Sum(y => y.TotalAmount) : 0)</td>*@
                            <td>
                                @if (x.Status == (int)AnnexureStatus.Proceeded)
                                {
                                    <label class="label label-success">Proceeded</label> <br />
                                }
                                else if (x.Status == (int)AnnexureStatus.Approved)
                                {
                                    <label class="label label-success">Approved</label>
                                }
                                else if (x.Status == (int)AnnexureStatus.Completed)
                                {
                                    <label class="label label-success">Completed</label>
                                }
                                else if (x.Status == (int)AnnexureStatus.PendingDelivery)
                                {
                                    <label class="label label-warning">Pending Delivery</label>
                                }
                                else if (x.Status == (int)AnnexureStatus.Delivered)
                                {
                                    <label class="label label-success">Delivered</label>
                                }
                                else
                                {
                                    <label class="label label-info">Inprocess</label>
                                }
                            </td>
                            <td class="text-center">
                                <div class="btn-group btn-group-xs" role="group">
                                    <a href="javascript://" class="btn btn-primary mg-r addNewCompany" data-id="@x.Id" title="Details"><i class="fa fa-eye"></i> </a>
                                    @if (CurrentUser.HasAnyPermission(BaseApp.Entity.AppPermission.All, BaseApp.Entity.AppPermission.ViewOrderRequests, BaseApp.Entity.AppPermission.OrderRequests))
                                    {
                                        if (x.Status == (int)AnnexureStatus.Proceeded)
                                        {
                                            <a href="javascript://" onclick="changeStatus('@Url.Action("OrderCollected")', '@x.Id','', 'Are you sure you want to Proceed this Order?','Proceed Order')" class="btn btn-success mg-r" title="Proceed"><i class="fa fa-arrow-circle-o-right"></i> </a>
                                        }
                                        else if (x.Status == (int)AnnexureStatus.Approved)
                                        {
                                            <a href="javascript://" onclick="changeStatus('@Url.Action("Proceed")', '@x.Id','', 'Are you sure you want to Proceed this Order?','Proceed Order')" class="btn btn-success mg-r" title="Proceed"><i class="fa fa-arrow-circle-o-right"></i> </a>
                                        }
                                        else if (x.Status == (int)AnnexureStatus.Inprocess)
                                        {
                                            <a href="javascript://" class="btn btn-primary mg-r approveOrder" data-id="@x.Id" title="Approve Order"><i class="fa fa-check"></i> </a>
                                            <a href="javascript://" onclick="changeStatus('@Url.Action("Decline")', '@x.Id','', 'Are you sure you want to Reject this record ?','Reject Order Request')" class="btn btn-danger mg-r" title="Decline"><i class="fa fa-trash"></i> </a>
                                        }
                                        else if (x.Status == (int)AnnexureStatus.PendingDelivery)
                                        {
                                            <a href="@Url.Action("OrderDelivery","OrderApproval")/@x.Id" class="btn btn-success" title="Deliver"><i class="fa fa-truck"></i> Deliver</a>
                                        }
                                    }
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer text-right">
            <div class="pull-right menu-links">
                <a href="javascript://" class="text-muted" title="go to previous" style="margin:0 8px;" onclick="window.history.back()">
                    <i class="fa fa-angle-left fa-2x"></i> <span class="grid-buttons"> Go Back</span>
                </a>
            </div>
        </div>
    </div>
</div>

