
@model CPCAnnexureIII
@{
    ViewBag.Title = "Cash Reconciliation";

    var empList = ViewBag.Employees as List<CPCEmployee>;
    var detailsArry = Model.CPCAnnexureIIIDetails.ToArray();
}

<form id="lead-frm" class="user-Profile" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4> @ViewBag.Title </h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 text-left horizontal-label">Sr. Number</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@Model.SrNo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 text-left horizontal-label"> Date </label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@Model.AnnexureIIIDate.ToShortDateString()</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Collected from</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@ViewData["BranchName"]</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total No of Bundles Collected</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@Model.TotalBundlesCollected</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total Cash Collected Value</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@Model.TotalCashCollected</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Date of Cash Return</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@(Model.DateOfCashReturn != null ? Model.DateOfCashReturn.Value.ToShortDateString() : "")</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total No of Bundles Returend</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@Model.TotalBundlesCollected</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total No of loose Packets/Notes Returend</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@Model.TotalLoosePacketsNotesReturned</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total Cash Returned Value</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@Model.TotalCashReturned</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Shipment Receipt Number</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">@Model.ShipmentReceiptNo</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row tb-padding">
                        <table id="mytable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" rowspan="2">Description of Cash</th>
                                    <th>Denomination</th>
                                    <td>
                                        <input class="form-control input-sm text-center" id="DenomTitle0" />
                                        <input type="hidden" name="CPCAnnexureIIIDetail[0].DenominationId" id="DenomOneId" />
                                    </td>
                                    <th>Denomination</th>
                                    <td>
                                        <input class="form-control input-sm text-center" id="DenomTitle1" />
                                        <input type="hidden" name="CPCAnnexureIIIDetail[1].DenominationId" id="DenomTwoId" />
                                    </td>
                                    <th>Denomination</th>
                                    <td>
                                        <input class="form-control input-sm text-center" id="DenomTitle2" />
                                        <input type="hidden" name="CPCAnnexureIIIDetail[2].DenominationId" id="DenomThreeId" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">Unsorted Cash Collected</td>
                                    @if (detailsArry.Length >= 1)
                                    {
                                        <td data-id="0"><input class="form-control input-sm inp" value="c" /></td>
                                        <td data-id="0"><input class="form-control input-sm" value="@detailsArry[0].UnsortedCashCollectedValue" /></td>
                                    }
                                    @if (detailsArry.Length >= 2)
                                    {
                                        <td data-id="1"><input class="form-control input-sm inp" value="@detailsArry[1].UnsortedCashCollected" /></td>
                                        <td data-id="1"><input class="form-control input-sm" value="@detailsArry[1].UnsortedCashCollectedValue" /></td>
                                    }
                                    @if (detailsArry.Length == 3)
                                    {
                                        <td data-id="2"><input class="form-control input-sm inp" value="@detailsArry[2].UnsortedCashCollected" /></td>
                                        <td data-id="2"><input class="form-control input-sm" value="@detailsArry[2].UnsortedCashCollectedValue" /></td>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="2">FIT/Re-Issuable</td>
                                    @if (detailsArry.Length >= 1)
                                    {
                                        <td data-id="0"><input class="form-control input-sm inp" value="@detailsArry[0].FITReIssuable" /></td>
                                        <td data-id="0"><input class="form-control input-sm" value="@detailsArry[0].FITReIssuableValue" /></td>
                                    }
                                    @if (detailsArry.Length >= 2)
                                    {
                                        <td data-id="1"><input class="form-control input-sm inp" value="@detailsArry[1].FITReIssuable" /></td>
                                        <td data-id="1"><input class="form-control input-sm" value="@detailsArry[1].FITReIssuableValue" /></td>
                                    }
                                    @if (detailsArry.Length == 3)
                                    {
                                        <td data-id="2"><input class="form-control input-sm inp" value="@detailsArry[2].FITReIssuable" /></td>
                                        <td data-id="2"><input class="form-control input-sm" value="@detailsArry[2].FITReIssuableValue" /></td>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="2">Unfit/Soiled</td>
                                    @if (detailsArry.Length >= 1)
                                    {
                                        <td data-id="0"><input class="form-control input-sm inp" name="@detailsArry[0].UnfitSoiled" /></td>
                                        <td data-id="0"><input class="form-control input-sm" value="@detailsArry[0].UnfitSoiledValue" /></td>
                                    }
                                    @if (detailsArry.Length >= 2)
                                    {
                                        <td data-id="1"><input class="form-control input-sm inp" value="@detailsArry[1].UnfitSoiled" /></td>
                                        <td data-id="1"><input class="form-control input-sm" value="@detailsArry[1].UnfitSoiledValue" /></td>
                                    }
                                    @if (detailsArry.Length == 3)
                                    {
                                        <td data-id="2"><input class="form-control input-sm inp" value="@detailsArry[2].UnfitSoiled" /></td>
                                        <td data-id="2"><input class="form-control input-sm" value="@detailsArry[2].UnfitSoiledValue" /></td>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="2">Mismatch/Defaced Zero Value</td>
                                    @if (detailsArry.Length >= 1)
                                    {
                                        <td data-id="0"><input class="form-control input-sm inp" value="@detailsArry[0].MismatchDefacedZero" /></td>
                                        <td data-id="0"><input class="form-control input-sm" value="@detailsArry[0].MismatchDefacedZeroValue" /></td>
                                    }
                                    @if (detailsArry.Length >= 2)
                                    {
                                        <td data-id="1"><input class="form-control input-sm inp" value="@detailsArry[1].MismatchDefacedZero" /></td>
                                        <td data-id="1"><input class="form-control input-sm" value="@detailsArry[1].MismatchDefacedZeroValue" /></td>
                                    }
                                    @if (detailsArry.Length == 3)
                                    {
                                        <td data-id="2"><input class="form-control input-sm inp" value="@detailsArry[2].MismatchDefacedZero" /></td>
                                        <td data-id="2"><input class="form-control input-sm" value="@detailsArry[2].MismatchDefacedZeroValue" /></td>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="2">Counterfeit Notes</td>
                                    @if (detailsArry.Length >= 1)
                                    {
                                        <td data-id="0"><input class="form-control input-sm inp" value="@detailsArry[0].CounterfeitNotes" /></td>
                                        <td data-id="0"><input class="form-control input-sm" value="@detailsArry[0].CounterfeitNotesValue" /></td>
                                    }
                                    @if (detailsArry.Length >= 2)
                                    {
                                        <td data-id="1"><input class="form-control input-sm inp" value="@detailsArry[1].CounterfeitNotes" /></td>
                                        <td data-id="1"><input class="form-control input-sm" value="@detailsArry[1].CounterfeitNotesValue" /></td>
                                    }
                                    @if (detailsArry.Length == 3)
                                    {
                                        <td data-id="2"><input class="form-control input-sm inp" value="@detailsArry[2].CounterfeitNotes" /></td>
                                        <td data-id="2"><input class="form-control input-sm" value="@detailsArry[2].CounterfeitNotesValue" /></td>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="2">Net Exces</td>
                                    @if (detailsArry.Length >= 1)
                                    {
                                        <td data-id="0"><input class="form-control input-sm inp" value="@detailsArry[0].NetExcess" /></td>
                                        <td data-id="0"><input class="form-control input-sm" value="@detailsArry[0].NetExcessValue" /></td>
                                    }
                                    @if (detailsArry.Length >= 2)
                                    {
                                        <td data-id="1"><input class="form-control input-sm inp" value="@detailsArry[1].NetExcess" /></td>
                                        <td data-id="1"><input class="form-control input-sm" value="@detailsArry[1].NetExcessValue" /></td>
                                    }
                                    @if (detailsArry.Length == 3)
                                    {
                                        <td data-id="2"><input class="form-control input-sm inp" value="@detailsArry[2].NetExcess" /></td>
                                        <td data-id="2"><input class="form-control input-sm" value="@detailsArry[2].NetExcessValue" /></td>
                                    }
                                </tr>
                                <tr>
                                    <td colspan="2">Net Storage</td>
                                    @if (detailsArry.Length >= 1)
                                    {
                                        <td data-id="0"><input class="form-control input-sm inp" value="@detailsArry[0].NetShortage" /></td>
                                        <td data-id="0"><input class="form-control input-sm" value="@detailsArry[0].NetShortageValue" /></td>
                                    }
                                    @if (detailsArry.Length >= 2)
                                    {
                                        <td data-id="1"><input class="form-control input-sm inp" value="@detailsArry[1].NetShortage" /></td>
                                        <td data-id="1"><input class="form-control input-sm" value="@detailsArry[1].NetShortageValue" /></td>
                                    }
                                    @if (detailsArry.Length == 3)
                                    {
                                        <td data-id="2"><input class="form-control input-sm inp" value="@detailsArry[2].NetShortage" /></td>
                                        <td data-id="2"><input class="form-control input-sm" value="@detailsArry[2].NetShortageValue" /></td>
                                    }
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Received By <b>CPC</b> First Staff Name</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">
                                                @(Model.CashReceivedByCPCStaffA != null ? empList.Where(x => x.Id == Model.CashReceivedByCPCStaffA).FirstOrDefault().Name : "")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Received By <b>CPC</b> Second Staff Name</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">
                                                @(Model.CashReceivedByCPCStaffB != null ? empList.Where(x => x.Id == Model.CashReceivedByCPCStaffB).FirstOrDefault().Name : "")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Handed Over By <b>CIT</b> First Staff Name</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">
                                                @(Model.CashHandedOverByCITStaffAId != null ? empList.Where(x => x.Id == Model.CashHandedOverByCITStaffAId).FirstOrDefault().Name : "")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Handed Over By <b>CIT</b> Second Staff Name</label>
                                        <div class="col-sm-6">
                                            <label class="label label-default">
                                                @(Model.CashHandedOverByCITStaffBId != null ? empList.Where(x => x.Id == Model.CashHandedOverByCITStaffBId).FirstOrDefault().Name : "")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
            </div>
        </div>
    </div>
</form>


@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            //-- Read Only Mode Trigger -//
            $("input").attr("readonly", true);
        });

       
    </script>
}

