
@model CPCAnnexureIII
@{
    var queryId = ViewContext.RouteData.Values["Id"];
    ViewBag.Title = (queryId == null ? "Add New Cash Reconciliation" : "Edit Cash Reconciliation");
}

<form id="lead-frm" class="user-Profile" method="post" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    @*@Html.HiddenFor(x => x.Id)*@

    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
                <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">

                <div class="panel-body">
                    <h4> @ViewBag.Title </h4>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 text-left horizontal-label">Sr. Number</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.SrNo, new { @class = "form-control input-sm", @type = "number", @required = "required", @autofocus = "true" })
                                            @Html.ValidationMessageFor(m => m.SrNo)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 text-left horizontal-label"> Date </label>
                                        <div class="col-sm-6">
                                            <input name="AnnexureIIIDate" id="AnnexureIIIDate" class="form-control input-sm datePicker" type="text" value="@Model.AnnexureIIIDate.ToShortDateString()" required autocomplete="off">

                                            @*<div class="input-group input-group-sm datePicker">
                                                    <input name="DateOfBirth" class="form-control input-sm" type="text" value="@Model.AnnexureIIIDate.ToShortDateString()" required autocomplete="off">
                                                    <span class="input-group-addon">
                                                        <span class="fa fa-calendar"></span>
                                                    </span>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Collected from</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashCollectedFromId, (SelectList)ViewBag.BrachList, " Select Branch ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total No of Bundles Collected</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.TotalBundlesCollected, new { @class = "form-control input-sm", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total Cash Collected Value</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.TotalCashCollected, new { @class = "form-control input-sm", @type = "number" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Date of Cash Reconciliation</label>
                                        <div class="col-sm-6">
                                            <input name="DateOfCashReturn" id="DateOfCashReturn" class="form-control input-sm datePicker" type="text" value="@Model.DateOfCashReturn.Value.ToShortDateString()" required autocomplete="off">
                                            @*<div class="input-group input-group-sm">
                                                <input name="DateOfCashReturn" class="form-control input-sm" type="date" value="" required autocomplete="off">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-calendar"></span>
                                                </span>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total No of Bundles Returend</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.TotalBundlesReturn, new { @class = "form-control input-sm", @type = "number" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total No of loose Packets/Notes Returend</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.TotalLoosePacketsNotesReturned, new { @class = "form-control input-sm", @type = "number" })

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Total Cash Returned Value</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.TotalCashReturned, new { @class = "form-control input-sm", @type = "number" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Shipment Receipt Number</label>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(x => x.ShipmentReceiptNo, new { @class = "form-control input-sm", @type = "number" })

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="row tb-padding">
                        <table id="mytable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" rowspan="2">Description of Cash</th>
                                    <th>Denomination</th>
                                    <td>
                                        <input class="form-control input-sm text-center" id="DenomTitle0" />
                                        <input type="hidden" name="CPCAnnexureIIIDetail[0].DenominationId" id="DenomOneId" />
                                    </td>
                                    <th>Denomination</th>
                                    <td>
                                        <input class="form-control input-sm text-center" id="DenomTitle1" />
                                        <input type="hidden" name="CPCAnnexureIIIDetail[1].DenominationId" id="DenomTwoId" />
                                    </td>
                                    <th>Denomination</th>
                                    <td>
                                        <input class="form-control input-sm text-center" id="DenomTitle2" />
                                        <input type="hidden" name="CPCAnnexureIIIDetail[2].DenominationId" id="DenomThreeId" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                    <th>No. of Bundles/Pieces</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td colspan="2">Unsorted Cash Collected</td>
                                    <td data-id="0"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[0].UnsortedCashCollected" /></td>
                                    <td data-id="0"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].UnsortedCashCollectedValue" /></td>
                                    <td data-id="1"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[1].UnsortedCashCollected" /></td>
                                    <td data-id="1"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].UnsortedCashCollectedValue" /></td>
                                    <td data-id="2"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[2].UnsortedCashCollected" /></td>
                                    <td data-id="2"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].UnsortedCashCollectedValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">FIT/Re-Issuable</td>
                                    <td data-id="0"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[0].FITReIssuable" /></td>
                                    <td data-id="0"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].FITReIssuableValue" /></td>
                                    <td data-id="1"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[1].FITReIssuable" /></td>
                                    <td data-id="1"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].FITReIssuableValue" /></td>
                                    <td data-id="2"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[2].FITReIssuable" /></td>
                                    <td data-id="2"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].FITReIssuableValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Unfit/Soiled</td>
                                    <td data-id="0"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[0].UnfitSoiled" /></td>
                                    <td data-id="0"><input class="form-control input-sm" id="unfitSoiledValue0" name="CPCAnnexureIIIDetail[0].UnfitSoiledValue" /></td>
                                    <td data-id="1"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[1].UnfitSoiled" /></td>
                                    <td data-id="1"><input class="form-control input-sm" id="unfitSoiledValue1" name="CPCAnnexureIIIDetail[1].UnfitSoiledValue" /></td>
                                    <td data-id="2"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[2].UnfitSoiled" /></td>
                                    <td data-id="2"><input class="form-control input-sm" id="unfitSoiledValue2" name="CPCAnnexureIIIDetail[2].UnfitSoiledValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Mismatch/Defaced Zero Value</td>
                                    <td data-id="0"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[0].MismatchDefacedZero" /></td>
                                    <td data-id="0"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].MismatchDefacedZeroValue" /></td>
                                    <td data-id="1"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[1].MismatchDefacedZero" /></td>
                                    <td data-id="1"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].MismatchDefacedZeroValue" /></td>
                                    <td data-id="2"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[2].MismatchDefacedZero" /></td>
                                    <td data-id="2"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].MismatchDefacedZeroValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Counterfeit Notes</td>
                                    <td data-id="0"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[0].CounterfeitNotes" /></td>
                                    <td data-id="0"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].CounterfeitNotesValue" /></td>
                                    <td data-id="1"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[1].CounterfeitNotes" /></td>
                                    <td data-id="1"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].CounterfeitNotesValue" /></td>
                                    <td data-id="2"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[2].CounterfeitNotes" /></td>
                                    <td data-id="2"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].CounterfeitNotesValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Net Excess</td>
                                    <td data-id="0"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[0].NetExcess" /></td>
                                    <td data-id="0"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].NetExcessValue" /></td>
                                    <td data-id="1"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[1].NetExcess" /></td>
                                    <td data-id="1"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].NetExcessValue" /></td>
                                    <td data-id="2"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[2].NetExcess" /></td>
                                    <td data-id="2"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].NetExcessValue" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Net Storage</td>
                                    <td data-id="0"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[0].NetShortage" /></td>
                                    <td data-id="0"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[0].NetShortageValue" /></td>
                                    <td data-id="1"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[1].NetShortage" /></td>
                                    <td data-id="1"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[1].NetShortageValue" /></td>
                                    <td data-id="2"><input class="form-control input-sm inp" name="CPCAnnexureIIIDetail[2].NetShortage" /></td>
                                    <td data-id="2"><input class="form-control input-sm" name="CPCAnnexureIIIDetail[2].NetShortageValue" /></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Received By <b>CPC</b> First Staff Name</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashReceivedByCPCStaffA, (SelectList)ViewBag.EmployeeList, " Select Employee ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Received By <b>CPC</b> Second Staff Name</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashReceivedByCPCStaffB, (SelectList)ViewBag.EmployeeList, " Select Employee ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Handed Over By <b>CIT</b> First Staff Name</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashHandedOverByCITStaffAId, (SelectList)ViewBag.EmployeeList, " Select Employee ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row form-group">
                                        <label class="col-sm-6 horizontal-label">Cash Handed Over By <b>CIT</b> Second Staff Name</label>
                                        <div class="col-sm-6">
                                            @Html.DropDownListFor(x => x.CashHandedOverByCITStaffBId, (SelectList)ViewBag.EmployeeList, " Select Employee ", new { @class = "form-control input-sm select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-right">
            <div class="btn-group" role="group">
                <a href="javascript://" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-close"></i> Cancel / Back</a>
                <button type="submit" id="submit" class="btn btn-success"><i class="fa fa-check"></i> Submit</button>
            </div>
        </div>
    </div>
</form>


@section scripts{

<script type="text/javascript">
        $(document).ready(function () {
            //-- Read Only Mode Trigger -//
            @*if ('@ViewData["IsView"]' != '') {
                $("input").attr("readonly", true);
                $("#IsActive").attr("disabled", true);
                $("#submit").hide();
            }*@

            //"#DateOfCashReturn"
            $("#AnnexureIIIDate").data("DateTimePicker").date(moment('@Model.AnnexureIIIDate.ToShortDateString()'));
            $("#DateOfCashReturn").data("DateTimePicker").date(moment('@Model.DateOfCashReturn.Value.ToShortDateString()'));

            $(".select2").select2();

            //input fields leave event
            $(document).on('focusout', '.inp', function (e) {
                e.preventDefault();
                accountGridRowIndex = $(this).closest('td').attr("data-id");
                const totalValue = GetTotalVal($(this).val(), $('#DenomTitle' + accountGridRowIndex).val());
                $(this).closest('td').next('td').find('input').val(totalValue);
            });



        });

        function GetTotalVal(unsortedValue, denomVal) {
            const totalVal =  1000 * parseInt(unsortedValue) * parseInt(denomVal);
            return isNaN(totalVal) ? '0' : totalVal;
        }
</script>
}

